/* overrides */
html {
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

h1, h2, h3, h4, h5, p {
	margin: 0px;
	padding: 0px;
}


/* reusable classes */
.title-font {
	font-family: 'Shadows Into Light Two', cursive;
}

.body-font {
	font-family: 'Carrois Gothic', sans-serif;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.text-centered {
	text-align: center;
}

.inline-block {
	display: inline-block;
}


/* Specific styles */
#title-block {
	width: 100%;
}

#title-block h1 {
	padding: 10px;
}

#title-block p {
	padding: 10px;
	font-size: 20px;
}


